.graphic {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  color: var(--decoration);
  font-family: var(--font-code);
}

.bold {
  font-weight: bold;
}

a > .graphic {
  color: var(--foreground);
  display: inline;
}

a:hover > .graphic {
  color: var(--background);
}
