.heading1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: var(--line);
  padding-top: var(--line);
}

.heading2 {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: var(--line);
}

.heading3 {
  font-weight: bold;
  margin-top: var(--line);
}

.paragraph {
  margin-bottom: var(--line);
}

.paragraph + .heading1 {
  margin-top: calc(3 * var(--line));
}

.paragraph:last-of-type {
  margin-bottom: 0;
}

.timeframe {
  font-style: italic;
}

.externalLink:hover::after {
  content: "‣";
}
