.heading {
  font-weight: bold;
  padding-top: var(--line);
  grid-column: 2 / 3;
}

@media print {
  h4.heading {
    padding-top: 0;
  }
}

.smallHeading {
  font-weight: bold;
  grid-column: 2 / 3;
}

.cvHeading1 {
  text-transform: uppercase;
  padding-top: var(--line);
}

.cvHeading2 {
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: var(--line);
  grid-column: 2 / 3;
}

.paragraph + .heading1 {
  margin-top: calc(3 * var(--line));
}

.paragraph:last-of-type {
  margin-bottom: 0;
}

.timeframe {
  font-style: italic;
}

.code {
  padding: var(--line) 1ch;
}

.blockquote {
  grid-column: 2 / 3;
  margin-bottom: calc(var(--line) * 1);
  display: grid;
  grid-template-columns: 1ch 1fr;
  gap: 1ch;
}

.list {
  grid-column: 2 / 3;
  display: grid;
  padding-left: 2ch;
}

.list li::marker {
  display: block;
}

.list > .list {
  grid-column: 2 / 3;
}
